@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  opacity: 0.5;
}

.highlight {
  background-color:#ffc93c;
  color: #3C1212
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3C1212;
  color: #ffc93c;
}

h1, h2, h3 {
  font-family: "Roboto", sans-serif;
}

nav,
footer {
  padding: 1% 0;
  background-color:#3C1212;
}

.content {
  margin: 25px 15px;
}

a {
  text-decoration: none;
}

.button {
  display: block;
  text-align: center;
  margin: 1rem auto;
  padding: 3px;
  border-radius: 5px;
}

nav {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  color: #ffc93c;
  border-bottom: 5px solid black;
  z-index: 10;
}

nav > ul > li > a {
 color:#ffc93c;
 margin-right: 20px;
}

.hamburger {
  margin-left: 2px;
}

.hamburger:hover {
  cursor: pointer;
  opacity: 0.5;
}

.headshot-img {
  width: 50%;
  height: auto;
  margin: 20px;
  border: 1px solid #3C1212;
  border-radius: 10%;
}

section {
  min-height: 200px;
  padding: 6% 0;
  background-color: #3C1212;
  color: #ffc93c;
}

section:nth-child(even) {
  background-color: #3C1212;
  color: #ffc93c;
}

.project {
  margin: 50px auto;
}


footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  
}

.button {
  border-radius: 10px;
  padding: 10px;

}

.button:hover {
  cursor: pointer;
  opacity: 0.7;
}

.technologies {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  padding-top: 20px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-content: flex-start;
  list-style: none;
  padding-top: 20px;
  padding-left:0;
}

.project-img {
  width: 95%;
  height: auto;
  border: 2px solid #ffc93c;
  border-radius: 10%
}

.hidden {
  display: none;
}

.code,
.live {
  color: #073763;
  background-color: #ffc93c;
  border: 2px solid #3C1212;
}

.social {
  display: flex;
  justify-content: space-around;
  font-size: 32px;
}
.social a {
  color:#ffc93c
}
.social a:hover {
  color: #3C1212
}

@media screen and (min-width: 500px) {
  .shot-img{
    width: 225px;
  }
}

@media screen and (min-width: 900px) {
  .hamburger {
    display: none;
  }

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width:1000px;
  margin: 0px auto;
}
.project {
  padding: 15px;

}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 15px;
}}